<% include partials/header%>
<div class = "col-md-12 mx-auto">
    <h4>Common Place Clients</h4>
    <form method="post" action="/graphQuery4Post">
        <label>Client Email</label><br>
        <input type="Email" name="email">
        <br><br>
        <input type="submit" value="Submit">
    </form>
    <table class = "table  table-sm table-bordered table-hover">
        <thead>
            <tr>
                <th>idUser</th>
                <th>name</th>
                <th>lastName</th>
                <th>userName</th>
                <th>birth</th>
                <th>email</th>
                <th>phone_number</th>
            </tr>
        </thead>
        <body>
            <% for(var i = 0; i < clients.length; i++) { %>
                <tr>
                    <td><%= clients[i].idUser %></td>
                    <td><%= clients[i].name %></td>
                    <td><%= clients[i].lastName %></td>
                    <td><%= clients[i].userName %></td>
                    <td><%= clients[i].birth %></td>
                    <td><%= clients[i].email %></td>
                    <td><%= clients[i].phone_number %></td>
                </tr>
            <% } %> 
        </body>
    </table>
</div>
<% include partials/footer%>