<% include partials/header%>
<div class = "col-md-12 mx-auto">
    <h4>Client's Deliveries History</h4>
    <form method="post" action="/graphQuery1Post">
        <label>Client Email</label><br>
        <input type="Email" name="email">
        <br><br>
        <input type="submit" value="Submit">
    </form>
    <table class = "table  table-sm table-bordered table-hover">
        <thead>
            <tr>
                <th>idDelivery</th>
                <th>idClient</th>
                <th>idPlace</th>
                <th>date</th>
                <th>observation</th>
                <th>product</th>
                <th>state</th>
                <th>total</th>
            </tr>
        </thead>
        <body>
            <% deliveries.forEach(function(delivery){ %>
                <tr>
                    <td><%= delivery.idDelivery %></td>
                    <td><%= delivery.idClient %></td>
                    <td><%= delivery.idPlace %></td>
                    <td><%= delivery.date %></td>
                    <td><%= delivery.observation %></td>
                    <td><%= delivery.product %></td>
                    <td><%= delivery.state %></td>
                    <td><%= delivery.total %></td>
                </tr>
            <% }) %> 
        </body>
    </table>
</div>
<% include partials/footer%>