<% include partials/header%>
<div class="container">
    <div class="row">
        <!--FORM-->
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/addPlace" method="POST">
                        <div class="form-group">
                            <input type="text" name="idPlace" placeholder="Insert place ID" class="form-control">
                        </div>
                        <div class="form-group">
                                <input type="number" step="0.0000001" name="latitude" placeholder="Insert latitude" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="number" name="longitude" step="0.0000001" placeholder="Insert longitude" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="address" placeholder="Insert address" class="form-control">
                        </div>
                        <div class="form-group">
                            <select class="browser-default custom-select" name="category" value="selected">
                                <option>Select category</option>
                                <option>Restaurant</option>
                                <option>Bar</option>
                                <option>Hospital</option>
                                <option>Museum</option>
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success btn-block">Add Place</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--LIST-->
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Address</th>
                            <th>Category</th>
                            <th>Phone</th>
                            <th>Rating</th>
                            <th>Schedule</th>
                            <th>Website</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Dealers</th>
                            <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < places.length; i++){ %>
                         <tr>
                            <td><%= places[i].latitude%></td>
                            <td><%= places[i].longitude%></td>
                            <td><%= places[i].address%></td>
                            <td><%= places[i].category%></td>
                            <td><%= places[i].phone%></td>
                            <td><%= places[i].rating%></td>
                            <td><%= places[i].schedule%></td>
                            <td><%= places[i].website%></td>
                            <td><%= places[i].name%></td>
                            <td><%= places[i].description%></td>
                            <td><%= places[i].qDealer%></td>
                            <td>
                                <a href="/deletePlace/<%= places[i]._id%>" class="btn btn-danger">Delete</a>
                                <a href="/editPlace/<%= places[i]._id%>" class="btn btn-info">Update</a>
                            </td>
                         </tr>
                        <%}%>    

                </tbody>
            </table>
        </div>
    </div>
</div>
<% include partials/footer%>