<% include partials/header%>
<div class="container col-md-12">
    <div class="row">
        <!--LIST-->
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>    
                        <th>Place ID</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Address</th>
                        <th>Category</th>
                        <th>Phone</th>
                        <th>Rating</th>
                        <th>Schedule</th>
                        <th>Website</th>
                        <th>Dealers</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < places.length; i++){ %>
                         <tr>
                            <td><%= places[i].name%></td>
                            <td><%= places[i].idPlace%></td>
                            <td><%= places[i].latitude%></td>
                            <td><%= places[i].longitude%></td>
                            <td><%= places[i].address%></td>
                            <td><%= places[i].category%></td>
                            <td><%= places[i].phone%></td>
                            <td><%= places[i].rating%></td>
                            <td><%= places[i].schedule%></td>
                            <td><%= places[i].website%></td>
                            <td><%= places[i].qDealer%></td>
                            <td>
                                <a href="/deletePlace/<%= places[i]._id%>" class="btn btn-danger">Delete</a>
                                <a href="/editPlace/<%= places[i]._id%>" class="btn btn-info">Update</a>
                                <a href="/addProduct/<%= places[i].idPlace%>" class="btn btn-info">Add Product</a>
                            </td>
                         </tr>
                        <%}%>    

                </tbody>
            </table>
        </div>
    </div>
</div>
<% include partials/footer%>