<% include partials/header%>
<div class="col-md-5">
    <div class="card">
        <div class="card-body">
                <form action="/editPlace/<%= place._id %>" method="POST">
                    <div class="form-group">
                            <input type="text" name="name" placeholder="Insert place ID" class="form-control" value="<%= place.name%>">
                        </div>
                    <div class="form-group">
                        <input type="text" name="idPlace" placeholder="Insert place ID" class="form-control" value="<%= place.idPlace%>">
                    </div>
                    <div class="form-group">
                            <input type="number" step="0.0000001" name="latitude" placeholder="Insert latitude" class="form-control" value="<%= place.latitude%>">
                    </div>
                    <div class="form-group">
                        <input type="number" name="longitude" step="0.0000001" placeholder="Insert longitude" class="form-control" value="<%= place.longitude%>">
                    </div>
                    <div class="form-group">
                        <input type="text" name="address" placeholder="Insert address" class="form-control" value="<%= place.address%>">
                    </div>
                    <div class="form-group">
                            <input type="text" name="category" placeholder="Insert place ID" class="form-control" value="<%= place.category%>">
                        </div>
                        <div class="form-group">
                                <input type="text" name="phone" placeholder="Insert place ID" class="form-control" value="<%= place.phone%>">
                            </div>
                    <div class="form-group">
                        <input type="text" name="rating" placeholder="Insert rating" class="form-control" value="<%= place.rating%>">
                    </div>
                    <div class="form-group">
                            <input type="text" name="schedule" placeholder="Insert place ID" class="form-control" value="<%= place.schedule%>">
                        </div>
                        <div class="form-group">
                                <input type="text" name="website" placeholder="Insert place ID" class="form-control" value="<%= place.website%>">
                            </div>
                    <div class="form-group">
                            <input type="number" name="qDealer" placeholder="Insert how many dealers" class="form-control" value="<%= place.qDealer%>">
                        </div>
                    <div>
                        <button type="submit" class="btn btn-success btn-block">Add Place</button>
                    </div>
                </form>
        </div>
    </div>
</div>
<% include partials/footer%>