<% include partials/header%>

<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h4>Available Places</h4>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>    
                        <th>Address</th>
                        <th>Category</th>
                        <th>Rating</th>
                        <th>Buy</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < places.length; i++){ %>
                         <tr>
                            <td><%= places[i].name%></td>
                            <td><%= places[i].address%></td>
                            <td><%= places[i].category%></td>
                            <td><%= places[i].rating%></td>
                            <td>
                                <a href="/products/<%= places[i]._id%>" class="btn btn-success">Products</a>
                                <a href="/nearbySearch/<%= places[i]._id%>" class="btn btn-info">Search places</a>
                            </td>
                         </tr>
                        <%}%>    
                </tbody>
            </table>
        </div>
    </div>
</div>

<% include partials/footer%>